@model SC601_V1.Models.ProductoModel

@{
    ViewBag.Title = "Actualizar Producto";
}

<h2>Actualizar Producto</h2>

@using (Html.BeginForm("ActualizarP", "Producto", FormMethod.Post))
{
    @Html.HiddenFor(model => model.ID_Producto)

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre)
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion)
        @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Precio)
        @Html.TextBoxFor(model => model.Precio, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID_Categoria)
        @Html.DropDownListFor(model => model.ID_Categoria, (SelectList)ViewBag.Categoria, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <input type="submit" value="Actualizar" class="btn btn-primary" />
        <a href="@Url.Action("ConsultarP", "Producto")"><i class="btn btn-secondary">Cancelar</i></a>
    </div>
}
