@model SC601_V1.Models.ProductoModel

@{
    ViewBag.Title = "Actualizar Producto";
}

<h2>Actualizar Producto</h2>

@using (Html.BeginForm("ActualizarP", "Producto", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.ID_Producto)
    @Html.HiddenFor(x => x.Imagen, new { @class = "form-control form-control-user" })

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre)
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion)
        @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Precio)
        @Html.TextBoxFor(model => model.Precio, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID_Categoria)
        @Html.DropDownListFor(model => model.ID_Categoria, (IEnumerable<SelectListItem>)ViewBag.Categoria, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="Imagen">Imagen del producto (.jpg)</label>
        <input type="file" name="Imagen" class="form-control form-control-user" accept="image/*" required />
    </div>

    <br />

    <div class="form-check form-group">
        <img class="card-img-top" src="@Model.Imagen" style="width:30%; height:120px;" alt="Imagen No cargada" />
    </div>

    <br />

    <div class="form-group">
        <input type="submit" value="Actualizar" class="btn btn-primary" />
        <a href="@Url.Action("ConsultarP", "Producto")" class="btn btn-secondary">Cancelar</a>
    </div>
}
