@model SC601_V1.Models.UsuarioModel

@{
    ViewBag.Title = "RegistrarUsuario";
    Layout = "~/Views/Shared/_Layout_Externo.cshtml";
}

<div class="row justify-content-center">
    <div class="col-lg-7">

        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
            <div class="card-body">

                <!-- Inicio Formulario -->
                @using (Html.BeginForm("RegistrarUsuario", "Usuario"))
                {
                    <!-- Mensaje de Error en caso que exista -->
                    if (!string.IsNullOrEmpty(ViewBag.Error))
                    {
                        <div class="alert alert-warning">
                            @ViewBag.Error
                        </div>
                    }

                    <!-- Input Cédula -->
                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(x => x.Cedula, new { @class = "form-control", @placeholder = "Ingrese identificación", @Required = "true", @onchange = "ConsultarNombre();" })
                        @Html.LabelFor(x => x.Cedula, new { @class = "form-label" })
                    </div>

                    <!-- Input Nombre -->
                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @placeholder = "Nombre completo", @Required = "true", @ReadOnly = "true" })
                        @Html.LabelFor(x => x.Nombre, new { @class = "form-label" })
                    </div>

                    <!-- Input Correo -->
                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(x => x.Correo, new { @class = "form-control", @placeholder = "name@example.com", @Required = "true", @type = "email" })
                        @Html.LabelFor(x => x.Correo, new { @class = "form-label" })
                    </div>

                    <!-- Input Contraseña -->
                    <div class="form-floating mb-3">
                        @Html.PasswordFor(x => x.Contrasena, new { @class = "form-control", @placeholder = "Contraseña", @Required = "true", @type = "password" })
                        @Html.LabelFor(x => x.Contrasena, new { @class = "form-label" })
                    </div>

                    <!-- Input Telefono -->
                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control", @type = "tel", @placeholder = "8888-8888" })
                        @Html.LabelFor(x => x.Telefono, new { @class = "form-label" })
                    </div>

                    <div class="mt-4 mb-0">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Crear Cuenta</button>
                        </div>
                    </div>
                }
                <!-- Fin Formulario -->

            </div>
            <div class="card-footer text-center py-3">
                <div class="small"><a href="@Url.Action("IniciarSesion", "Usuario")">¿Tienes una cuenta? Inicia Sesión</a></div>
                <div class="small"><a href="@Url.Action("Index", "Home")">Volver a inicio</a></div>
            </div>
        </div>
    </div>
</div>
