@model List<SC601_V1.BaseDatos.SP_ConsultarCategorias_Result>
@{
    ViewBag.Title = "ConsultarCategorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var esInvitado = Session["Rol"] == null || Session["Rol"].ToString().Trim().Equals("Invitado", StringComparison.OrdinalIgnoreCase);
}

<div class="container mt-4">
    <h2 class="mb-4">Consulta de Categorias</h2>
    <div class="card">
        <div class="card-body">

            <table id="dataCategoria" class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID_Categoria</td>
                            <td>@item.Nombre</td>
                            <td>@item.Descripcion</td>
                            <td><img src="@item.Imagen" alt="Imagen" width="100" height="100" /></td>


                            <td><a href="@Url.Action("ActualizarCategoria","Categoria", new { q = item.ID_Categoria })"><i class="fa fa-edit"></i></a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Template/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        const tabla = new DataTable('#dataCategoria',
            {
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.2.2/i18n/es-ES.json',
                },
                lengthChange: false,
                paging: true,
                pagingType: "simple",  // solo muestra Anterior / Siguiente
                info: false,
                pageLength: 10, // cantidad datos x pag
                columnDefs: [
                    { className: "dt-left", targets: "_all" }
                ]
            })
                // Esperar a que DataTables construya su DOM
        tabla.on('init',function () {
            const boton = $('<a>')
                .attr('href', '@Url.Action("AgregarCategoria","Categoria")')
                .addClass('btn btn-primary me-2')
                .html('<i class="fa fa-plus"></i> Agregar');

            // Insertar SOLO en la primera fila superior
            const filaSuperior = $('#dataCategoria_wrapper .row.justify-content-between').first();

            filaSuperior.prepend(
                $('<div class="col-auto"></div>').append(boton)
            );
        });
    });
</script>

